#about_us {
  .banner.background-1,
  .banner.background-2,
  .banner.background-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-position: center;
    width: 100%;
    height: 21.875rem;
    position: relative;
  }

  .banner.background-1 {
    background-image: url("/public/assets/images/sustainability&recycling/commitment_1.png");
  }

  .banner.background-2 {
    background-image: url("/public/assets/images/sustainability&recycling/commitment_2.png");
  }

  .banner.background-3 {
    background-image: url("/public/assets/images/sustainability&recycling/commitment_3.png");
  }

  .product-nav {
    .menu-list {
      transform: unset !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 0.75rem 0rem;
      gap: 1.5rem;
      list-style: none;
      background-color: $white;

      .tab-menu {
        @extend .font_body-2;
        padding: 1.125rem 0;

        &:hover {
          a {
            font-weight: 700;
          }
        }

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $black-700;
          font-weight: 400;
        }

        &--selected {
          border-bottom: 0.125rem solid $green-50;

          a {
            text-decoration: none;
            color: $black-700;
            font-weight: 700;
          }
        }
      }
    }
  }

  .banner {
    width: 100%;

    &__context {
      position: absolute;
      left: 0px;
      right: 0px;
      top: calc(50% - 96px / 2);

      color: $white;
      text-align: center;

      &-heading {
        @extend .font_heading-5;
        font-weight: 400;
      }

      &-title {
        @extend .font_heading-3;
        font-weight: 600;
      }
    }
  }

  #hero {
    background: $brown-100;

    .container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 2rem 0;
      gap: 1.5rem;
    }

    .caption {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0rem;
      gap: 1rem;
      color: $black-700;

      &-title {
        @extend .font_heading-3;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-subtitle {
        @extend .font_heading-5;
        font-weight: 500;
        text-transform: uppercase;
      }

      &-paragraph {
        @extend .font_body-1;
        font-weight: 400;
      }
    }

    .cover {
      font-size: 0;
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  #context {
    background-color: $brown-100;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    .context-heading {
      @extend .font_heading-3;
      font-weight: 600;
      color: $black-900;
      text-align: center;
    }
  }

  #hero-short {
    background: $brown-100;

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4rem;
      margin: 0 auto;

      .intro {
        position: relative;
        &__image {
          font-size: 0;

          img {
            object-fit: cover;
          }
        }

        &__right {
          position: absolute;
          left: 33.625rem;
          right: 10.625rem;
          top: calc(50% - 20.5rem / 2);
          background-color: $white;

          // margin: 36px 0;
          // max-width: 392px;
          // width: 100%;
        }

        &__left {
          position: absolute;
          left: 10.625rem;
          right: 37.6875rem;
          top: calc(50% - 21.5rem / 2);
          background-color: $white;

          // margin: 36px 0;
          // max-width: 392px;
          // width: 100%;
        }

        &__card {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 2.5rem;
          gap: 2rem;

          &-heading {
            @extend .font_heading-4;
            font-weight: 600;
            color: $black-900;
            word-break: break-word;
            text-transform: uppercase;
          }

          &-content {
            @extend .font_heading-5;
            color: $black-900;
            font-weight: 500;
          }

          &-btn {
            background: $green-50;
            display: flex;
            align-items: center;
            padding: 1rem 1.5rem;
            justify-content: center;
            border: none;
            cursor: pointer;

            a {
              font-size: 0;
            }

            &:hover {
              background: $btn-hover;
            }
          }
        }
      }
    }
  }

  #socials {
    background: $brown-100;

    .social-media {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
      gap: 0.75rem;

      &-title {
        @extend .font_body-2;
        font-weight: 500;
        color: $black-300;
      }

      &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        list-style: none;
        max-height: 1.5rem;
      }

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #about_us {
    margin-top: 3.125rem;
    .banner.background-1,
    .banner.background-2,
    .banner.background-3 {
      height: 100%;
      min-height: 15.625rem;
    }
    .product-nav {
      ::-webkit-scrollbar {
        display: none;
      }
    }

    .menu-list {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      font-size: 0;
      justify-content: space-between !important;
      transition: 0.3s 0.6s;
      visibility: visible;
      transition-property: visibility, opacity;
    }

    .tab-menu {
      align-items: center;
      display: inline-flex;
      vertical-align: top;
    }

    #hero {
      padding-right: 1.25rem;
      padding-left: 1.25rem;

      .container {
        .cover {
          img {
            width: 100%;
          }
        }
      }

      .context-left {
        flex-direction: column-reverse;
      }

      .context-right {
        flex-direction: column;
      }
    }

    #context {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }

    #hero-short {
      // padding-right: 1.25rem;
      // padding-left: 1.25rem;

      .container {
        .intro {
          &__card {
            &-btn {
              width: 3.125rem;
              height: 3.125rem;
              position: absolute;
              left: initial;
              right: 0;
              bottom: -1.563rem;
              display: flex;
            }
          }

          &__left,
          &__right {
            top: 15%;
            left: 0;
            right: 0;
            width: 15.625rem;
            height: 15.625rem;
            margin: 0 auto;
            gap: unset;
            padding: 1.875rem;
          }

          &__image {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 23.125rem;
            }
          }
        }
      }
    }
  }
}

/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  #about_us {
    margin-top: 3.125rem;
    .container {
      max-width: 43.75rem !important;
      padding-right: 1.25rem;
      padding-left: 1.25rem;
      margin: 0 auto;
    }

    .product-nav {
      ::-webkit-scrollbar {
        display: none;
      }
    }

    #hero {
      .container {
        .cover {
          img {
            width: 100%;
          }
        }
      }

      .context-left {
        flex-direction: column-reverse;
      }

      .context-right {
        flex-direction: column;
      }
    }

    #context {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }

    #hero-short {
      .container {
        .intro {
          &__card {
            &-btn {
              width: 3.125rem;
              height: 3.125rem;
              position: absolute;
              left: initial;
              right: 0;
              bottom: -1.563rem;
              display: flex;
            }
          }

          &__left,
          &__right {
            top: 15%;
            left: 0;
            right: 0;
            width: 15.625rem;
            height: 15.625rem;
            margin: 0 auto;
            gap: unset;
            padding: 1.875rem;
          }

          &__image {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 23.125rem;
            }
          }
        }
      }
    }
  }
}
