#benefits {
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 20%;
    z-index: 10;
    cursor: pointer;
    border: none;
  }
  .swiper-button-prev {
    background-image: url(/_nuxt/assets/svgs/left-arrow2.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-button-next {
    background-image: url(/_nuxt/assets/svgs/right-arrow2.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
  .swiper-pagination-bullet-active {
    background-color: $black-700 !important;
  }
  .swiper-pagination {
    padding-top: 1.5rem;
    position: unset !important;
  }
  .swiper-pagination-bullet {
    padding: 0rem;
    gap: 0.5rem;
    cursor: pointer;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $black-200;
  }
  .background-1 {
    background-image: url(/_nuxt/assets/images/sustainability&recycling/commitment_1.png);
    background-repeat: no-repeat;
    background-position: center;
    object-position: center;
    width: 100%;
    height: 25rem;
    position: relative;
    background-size: cover;
  }
  .background-2 {
    background-image: url(/_nuxt/assets/images/benefits/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    object-position: center;
    width: 100%;
    height: 26.25rem;
    position: relative;
  }

  .benefits {
    &_frame {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    &_frame-heading {
      @extend .font_heading-3;
      width: 100%;
      margin-bottom: unset;
      font-weight: 600;
      text-align: center;
      color: $white;
    }
    &_frame-des {
      @extend .font_body-1;
      width: 100%;
      margin-top: 1.25rem;
      margin-bottom: unset;
      font-weight: 400;
      text-align: center;
      color: $white;
    }
    &_frame-footer {
      width: 100%;
      margin-top: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      button {
        @extend .font_button;
        font-style: normal;
        text-align: center;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.5rem;
        height: 2.5625rem;
        background: $green-50;
        border-radius: 2.5rem;
        border: unset;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background: $btn-hover;
        }
      }

      span {
        @extend .font_body-1;
        text-align: center;
        color: $white;
        margin-bottom: unset;
        font-weight: 400;
      }
    }
    &_img {
    }
    &_frame2 {
      padding: 3.75rem 0;
      background: $black-900;
    }
    &_frame2-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 1.5rem;
    }
    &_frame2-item {
      padding: 1.875rem 0.5rem;
      height: 10.875rem;
    }
    &_frame2-item-img {
      display: flex;
      justify-content: center;
      width: 100%;

      img {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
      }
    }
    &_frame2-item-content {
      margin-top: 0.125rem;

      h3 {
        @extend .font_subtitle-1;
        margin-bottom: unset;
        font-weight: 500;
        width: 100%;
        text-align: center;
        color: $white;
      }

      p {
        @extend .font_body-2;
        margin-top: 0.25rem;
        margin-bottom: unset;
        font-weight: 400;
        width: 100%;
        align-items: center;
        text-align: center;
        color: $white;
      }
    }
    &_frame3 {
      position: absolute;
      content: "";
      z-index: 10;
      top: 0;
      left: 0;
      width: 24.8125rem;
      padding: 3.75rem 0;
    }
    &_frame3-heading {
      @extend .font_heading-4;
      margin-bottom: unset;
      font-weight: 600;
      width: 100%;
      align-items: center;
      color: $black-900;
    }
    &_frame3-des {
      @extend .font_body-1;
      margin-top: 1rem;
      margin-bottom: unset;
      font-weight: 400;
      align-items: center;
      color: $black-900;
    }
    &_frame3-btn {
      @extend .font_button;
      border: unset;
      margin-top: 1rem;
      padding: 1rem 1.5rem;
      gap: 0.5rem;
      width: 10.3125rem;
      height: 2.5625rem;
      background: $green-50;
      border-radius: 0.25rem;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      cursor: pointer;

      &:hover {
        background: $btn-hover;
      }
    }
  }
  .slider {
    width: 100%;
    padding: 2rem 0;
    &-bg {
      width: 100%;
      position: relative;
    }
    &_heading {
      @extend .font_heading-6;
      margin-bottom: 1.25rem;
      width: 100%;
      font-weight: 600;
      text-align: center;
      color: $black-800;
    }
    &-wrapper {
      position: relative;
    }
    &_list {
      width: 100%;
    }
    &_item {
      width: 116.5px !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0rem;
      gap: 0.5rem;
      height: 5rem;
    }
    &_item-wrapper {
      width: 116.5px !important;
      display: flex;
      justify-content: center;
    }
    &_item-img {
      height: 2.5rem;
      width: 2.5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
    &_item-title {
      margin-top: 0.5rem;
      @extend .font_caption;
      width: 100%;
      margin-bottom: unset;
      font-weight: 500;
      align-items: center;
      text-align: center;
      color: $brown-600;
    }
  }
}

/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  #benefits {
    .background-2 {
      width: calc(100% - 2.5rem);
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }
    .benefits {
      margin-top: 3.125rem;
      &_frame {
      }
      &_frame-heading {
      }
      &_frame-des {
      }
      &_frame-footer {
      }
      &_img {
      }
      &_frame2 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
      &_frame2-wrapper {
      }
      &_frame2-item {
        height: 100%;
      }
      &_frame2-item-img {
      }
      &_frame2-item-content {
      }
      &_frame3 {
      }
      &_frame3-heading {
      }
      &_frame3-des {
      }
      &_frame3-btn {
      }
    }
    .slider {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
      &-bg {
      }
      &_heading {
      }
      &-wrapper {
      }
      &_list {
      }
      &_item {
      }
      &_item-wrapper {
      }
      &_item-img {
      }
      &_item-title {
      }
      .slick-prev {
        left: -4%;
      }
      .slick-next {
        right: -4%;
      }
    }
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #benefits {
    margin-top: 3.125rem;
    .background-1 {
      height: 100%;
    }
    .background-2 {
      height: 17rem;
      background-image: unset;
    }
    .benefits {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      position: unset !important;
      &_frame {
        padding: 1rem;
      }
      &_frame-heading {
      }
      &_frame-des {
      }
      &_frame-footer {
        flex-wrap: wrap;
        gap: 0.5rem;
      }
      &_img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      &_frame2 {
      }
      &_frame2-wrapper {
        padding: 0 1rem;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1.5rem;
      }
      &_frame2-item {
        padding: 0 3.125rem;
      }
      &_frame2-item-img {
      }
      &_frame2-item-content {
      }
      &_frame3 {
        margin-left: 10px;
        margin-right: 10px;
        width: unset !important;
        padding: unset !important;
      }
      &_frame3-heading {
      }
      &_frame3-des {
      }
      &_frame3-btn {
        width: 100%;
        border-radius: 0.25rem;
      }
    }
    .slider {
      .slick-list {
        width: 100%;
        overflow-x: auto !important;
      }
      &-bg {
      }
      &_heading {
      }
      &-wrapper {
      }
      &_list {
        row-gap: 1.25rem;
        grid-template-columns: repeat(3, 1fr);
      }
      &_item {
      }
      &_item-wrapper {
      }
      &_item-img {
      }
      &_item-title {
      }
    }
  }
}
