#email_verification {
  .header {
    &-logo {
      width: 4.375rem;
      height: 4.375rem;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .banner {
    font-size: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main {
    &-content {
      @extend .font_body-1;
      font-weight: 400;
      color: $black-700;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0rem 1.5rem;
      gap: 0.25rem;
      height: 12rem;

      strong {
        @extend .font_body-1;
        font-weight: bold;
      }

      &__desc {
        height: 100%;
      }
    }
  }

  .presentation {
    font-size: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem 1.5rem;
    gap: 1.4375rem;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0rem;
      gap: 0.5625rem;
    }

    &-image {
      width: 4rem;
      height: 4rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0rem;
      gap: 0.25rem;
      text-align: center;
    }

    &-title {
      @extend .font_subtitle-2;
      font-weight: 700;
      color: $black-900;
    }

    &-desc {
      @extend .font_subtitle-2;
      font-weight: 400;
      color: $black-700;
    }
  }

  .menu {
    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1.5rem;
      gap: 0.625rem;
      border-bottom: 0.0625rem solid $black-100;
      width: 100%;
      height: 4.55rem;
      cursor: pointer;

      p {
        @extend .font_body-1;
        font-weight: 500;
        color: $black-700;
        flex: 1;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .social-media {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 0.75rem;

    &-title {
      @extend .font_body-2;
      font-weight: 500;
      color: $black-300;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      list-style: none;
    }

    &-item {
      a {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.625rem 1.5rem;
    gap: 0.625rem;

    p {
      @extend .font_caption;
      font-weight: 400;
      color: $black-700;
      height: 15rem;
    }
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #email_verification {
    .content {
      flex-wrap: wrap;
      flex-basis: 100%;
      &-item {
        flex-basis: calc(50% - 0.71875rem);
      }
    }
  }
}
