#reset_pass {
  background-color: $white;
  height: 28.75rem;
  .forget {
    &-pass {
      background: $white;
    }
    &-pass-container {
      padding-top: 2.563rem;
      padding-bottom: 2.563rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }
    &-pass__heading {
      @extend .font_heading-5;
      font-weight: 600;
      color: $black-900;
    }
    &-pass__form {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0rem;
      gap: 3.125rem;
      width: 49%;

      label {
        @extend .font_subtitle-1;
        font-weight: 500;
        color: $black-900;
      }

      input {
        padding: 0.75rem;
        background: $white;
        border: 0.063rem solid $black-100;
        border-radius: 0.25rem;
        flex: 1;
      }
    }
    &-pass__paragraph {
      @extend .font_caption;
      font-weight: 400;
      color: $black-400;
      width: 100%;

      span {
        font-weight: bold;
        color: $black-900;
      }
    }
    &-pass__btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem 1.5rem;
      gap: 0.5rem;
      background: $green-50;
      border-radius: 2.5rem;
      border: none;
      cursor: pointer;
      &:hover {
        background: $btn-hover;
      }

      a {
        @extend .font_button;
        font-weight: 600;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    &-pass__back {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem 1.5rem;
      border: 1px solid $black-900;
      border-radius: 2.5rem;
      cursor: pointer;
      background-color: unset;
      a {
        @extend .font_button;
        font-weight: 600;
        color: $black-900;
        text-decoration: none;
        text-transform: uppercase;
      }
      &:hover {
        background-color: #c5c5c5;
      }
    }
  }
}

/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  #reset_pass {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #reset_pass {
    margin-bottom: 3.125rem;
    margin-top: 3.125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    .forget {
      &-pass__form {
        display: flex !important;
        flex-direction: column !important;
        gap: 0.3125rem !important;
        width: 100% !important;
        label {
          width: 100% !important;
        }
        input {
          width: 100%;
        }
      }

      &-pass__btn {
        width: 100% !important;
        border-radius: 0.3125rem !important;
        button {
          width: 100% !important;
        }
      }
      &-pass__back {
        margin-top: 0.625rem;
        width: 100% !important;
        border-radius: 0.3125rem !important;
        button {
          width: 100% !important;
        }
      }
    }
  }
}
