#pageNotFound {
  .messages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20.8125rem;
    &-text {
      font-style: normal;
      font-weight: 600;
      font-size: 3rem;
      line-height: 3.25rem;
      color: $black-900;
      text-align: center;
    }
  }
}
/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  #pageNotFound {
    .messages {
      margin-top: 3.125rem;
    }
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #pageNotFound {
    .caption {
      flex-direction: row;
      align-items: center;
      display: flex;
      margin: 0 auto;
      padding: 11.25rem 0;
      gap: 6rem;
    }
    .messages {
      margin-top: 3.125rem;
    }
  }
}
