#setting_my_info {
  .setting {
    &_label {
      @extend .font_body-2;
      height: 3.25rem;
      background: $black-200;
      font-weight: 700;
      color: $black-900;
      display: flex;
      align-items: center;
      padding: 1rem;
      margin-bottom: unset;
    }
  }
  .form {
    &_content {
      width: 100%;
      p {
        margin-top: 1.5rem;
        @extend .font_caption;
        color: $black-800;
        width: 100%;
        margin-bottom: unset;
        font-weight: 400;
      }
    }
    &_content-heading {
      @extend .font_caption;
      margin-top: 1.5rem;
      display: inline-block;
      width: 100%;
      margin-bottom: unset;
      font-weight: 400;
      color: $black-900;
    }
    &_content-field {
      width: 100%;
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: 2fr 6fr 2fr;
      column-gap: 1.5rem;
      label {
        padding: 0.875rem 0.75rem;
        @extend .font_caption;
        margin-bottom: unset;
        font-weight: 400;
        color: $black-900;
        display: flex;
        align-items: center;
      }
      input {
        width: 100%;
        padding: 0.625rem 0.75rem;
        height: 2.75rem;
        background: $white;
        border: 0.0625rem solid $black-100;
        border-radius: 0.25rem;
      }
    }
    &_content-wrapper {
      margin-top: 0.625rem;
      margin-bottom: 1.5rem;
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 6fr 2fr;
      column-gap: 1.5rem;
    }
    &_btn {
      width: 100%;
      display: flex;
      justify-content: end;
      button {
        @extend .font_button;
        display: flex;
        justify-content: center;
        height: 2.5625rem;
        align-items: center;
        padding: 1rem 1.5rem;
        order: 0.0625rem solid $black-900;
        border-radius: 2.5rem;
        font-weight: 600;
        text-align: center;
        color: $black-800;
        background-color: unset;
        &:hover {
          cursor: pointer;
          transition: 0.3s;
          background: #c5c5c5;
        }
      }
    }
    &_content-mess {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 6fr 2fr;
      column-gap: 1.5rem;
    }
    &_content-title {
    }
    &_content-list {
      padding-left: 1.875rem;
      margin-bottom: 0.625rem;
    }
    &_content-item {
      @extend .font_caption;
      color: $black-800;
      width: 100%;
      margin-bottom: unset;
      font-weight: 400;
    }
  }
  .input {
    &-text {
    }
  }
}

/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  #setting_my_info {
    margin-top: 3.125rem;
    .setting {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      margin-right: 1.25rem;
      margin-left: 1.25rem;
    }
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #setting_my_info {
    margin-top: 3.125rem;
    .setting {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      margin-right: 0.625rem;
      margin-left: 0.625rem;
    }
    .form_btn {
      button {
        width: 100%;
        border-radius: 0.3125rem !important;
        &:hover {
          cursor: pointer;
          transition: 0.3s;
          background: #c5c5c5;
        }
      }
    }
    .form_content {
      display: flex !important;
      gap: 0.3125rem;
      flex-direction: column;
      padding: 1rem 0rem !important;

      .form_content-btn {
        button {
          width: 100%;
          border-radius: 0.3125rem !important;
          &:hover {
            cursor: pointer;
            transition: 0.3s;
            background: #c5c5c5;
          }
        }
      }
      .form_btn {
        width: 100%;
        padding-left: unset !important;
        padding-right: unset !important;
      }
      .form_content-field {
        margin-top: unset !important;
        display: flex !important;
        flex-direction: column;
        label {
          &:last-child {
            display: none !important;
          }
        }
      }
      .form_content-wrapper,
      .form_content-mess {
        display: unset !important;
      }
    }
    .setting_aside-select {
      display: block !important;
    }
    .setting_aside-list {
      display: none !important;
    }
  }
}
