#store_location {
  background-repeat: no-repeat;
  background-position: center;
  object-position: center;
  width: 100%;
  height: 46.875rem;
  position: relative;
  background-image: url(/public/assets/images/location/background.jpg);
  background-size: cover;
  .store_location {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    &-title {
      @extend .font_heading-5;
      font-weight: 500;
      color: $white;
      width: 100%;
      text-align: center;
    }
    &-heading {
      margin-top: 0.5rem;
      @extend .font_heading-4;
      font-weight: 600;
      color: $white;
      width: 100%;
      text-align: center;
    }
    &-content {
      margin-top: 1rem;
      width: 31.9375rem;
      display: flex;
      &-item {
        padding: 0rem 0.5rem 0.75rem;
        width: 50%;
        height: 6.375rem;
        background: $white;
        &:nth-child(2) {
          background: $black-50;
        }
        .content_item-img {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4.375rem;
            height: 4.375rem;
          }
        }
        .content_item-des {
          @extend .font_body-2;
          font-weight: 500;
          text-align: center;
          width: 100%;
          color: $black-800;
        }
        &:hover {
          background: $white;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }
    &-footer {
      width: 31.9375rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      gap: 0.5625rem;
      height: 3.75rem;
      background: $white;
      position: relative !important;
      &-actions {
        input {
          padding: 0.625rem 0.75rem;
          width: 23.8125rem;
          background: $white;
          border: 1px solid $black-100;
          border-radius: 0.25rem;
          @extend .font_body-2;
          font-weight: 400;
          color: $black-300;
        }
      }
    }
    &-icon {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 8.25rem;
      bottom: 0;
      display: flex;
      align-items: center;
      gap: 0.3125rem;
      svg {
        &:hover {
          opacity: 0.5;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }
    &-btn {
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.5rem;
        background: $brown-600;
        border-radius: 2.5rem;
        border: unset;
        span {
          @extend .font_button;
          font-weight: 600;
          color: $white;
        }
        &:hover {
          background-color: unset;
          border: 1px solid $brown-600;
          transition: 0.3s;
          cursor: pointer;
          span {
            color: #17171a;
          }
        }
      }
    }
  }
}

/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  #store_location {
    margin-top: 3.125rem;
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #store_location {
    margin-top: 50px;
    .store_location-content {
      width: 100%;
    }
    .store_location-content,
    .store_location-heading,
    .store_location-title {
      padding-left: 10px;
      padding-right: 10px;
    }
    .store_location-footer {
      display: flex;
      flex-direction: column;
      width: calc(100% - 1.25rem);
      height: unset !important;
    }
    .store_location-btn {
      width: 100%;
      button {
        width: 100%;
        border-radius: unset !important;
      }
    }
    .store_location-footer-actions {
      width: 100%;
      input {
        width: 100%;
      }
    }
    .store_location-icon {
      top: -50%;
      right: 1.125rem;
      bottom: 0;
      justify-content: end;
    }
  }
}
