#Bcorp {
  .background-1 {
    background-image: url(/public/assets/images/sustainability&recycling/bcorp_1.png);
  }

  .background-2 {
    background-image: url(/public/assets/images/sustainability&recycling/bcorp_2.png);
  }

  .background-1,
  .background-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-position: center;
    width: 100%;
    height: 21.875rem;
    position: relative;
  }

  .Bcorp {
    width: 100%;
  }
  .Bcorp_frame-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $white;
  }
  .Bcorp_frame-content-btn {
    display: flex;
    justify-content: center;
    button {
      margin-top: 1.25rem;
      padding: 1rem 1.5rem;
      border: 0.0625rem solid $black-900;
      border-radius: 0.25rem;
      background-color: unset;
      span {
        @extend .font_button;
        font-weight: 600;
        text-align: center;
        color: $white;
      }
    }
  }
  .Bcorp_frame-content-heading {
    @extend .font_heading-3;
    font-weight: 600;
    margin-bottom: unset;
  }
  // frame1
  .Bcorp_frame1 {
    padding: 2rem 0;
    text-align: center;
    color: $black-900;
  }
  .Bcorp_frame1-container {
  }
  .Bcorp_frame1-heading {
    margin-top: 2.5rem;
    @extend .font_heading-3;
    font-weight: 600;
    text-align: center;
    margin-bottom: unset;
  }
  .Bcorp_frame1-des {
    text-align: center;
    @extend .font_body-1;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .Bcorp_frame1-img {
    height: 21.875rem;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  // frame 2
  .Bcorp_frame2 {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 5fr 7fr;
    column-gap: 1.5rem;
  }
  .Bcorp_frame2-left-heading {
    @extend .font_heading-3;
    font-weight: 600;
    align-items: center;
    color: $black-800;
    margin-bottom: unset;
  }
  .Bcorp_frame2-left-des {
    @extend .font_body-1;
    margin-top: 1rem;
    font-weight: 400;
    color: $black-800;
    margin-bottom: unset;
  }
  .Bcorp_frame2-left-find {
    @extend .font_button;
    display: inline-block;
    width: 100%;
    margin-top: 1.5rem;
    font-weight: 600;
    align-items: center;
    color: $brown-500;
    margin-bottom: unset;
    cursor: pointer;

    &:hover {
      color: #655032;
      text-decoration: underline;
    }
  }
  .Bcorp_frame2-right {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
  // frame 3
  .Bcorp_frame3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
    padding: 3rem 0;
  }
  .Bcorp_frame3-item {
    position: relative;
    height: 25rem;
    max-height: 27.4375rem;
  }
  .Bcorp_frame3-item-heading {
    @extend .font_heading-3;
    font-weight: 600;
    text-align: center;
    color: $black-800;
    margin-bottom: unset;
  }
  .Bcorp_frame3-item-des {
    @extend .font_body-1;
    margin-top: 1rem;
    margin-bottom: unset;
    font-weight: 400;
    text-align: center;
    color: $black-800;
  }
  .Bcorp_frame3-item-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 14.5rem;

    img {
      background-position: center;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  // frame 4
  .Bcorp_frame4 {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 7fr 5fr;
    column-gap: 1.5rem;
  }
  .Bcorp_frame4-right {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .Bcorp_frame4-left-heading {
    @extend .font_heading-3;
    font-weight: 600;
    align-items: center;
    color: $black-800;
    margin-bottom: unset;
  }
  .Bcorp_frame4-left-des {
    @extend .font_body-1;
    margin-top: 1rem;
    font-weight: 400;
    color: $black-800;
    margin-bottom: unset;
  }
  // frame 5
  .Bcorp_frame5 {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
  .Bcorp_frame5-right {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .Bcorp_frame5-left-des {
    @extend .font_body-1;
    margin-top: 1rem;
    font-weight: 400;
    color: $black-800;
    margin-bottom: unset;
  }
}

// Bcorp

/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  #Bcorp {
    .Bcorp_frame1-container {
      margin: 0 3rem;
    }
    .Bcorp_frame1-heading {
      padding-bottom: 2rem;
      text-align: center;
    }
    .Bcorp_frame2.container {
      margin: 0 1.875rem;
    }

    .Bcorp_frame1.container {
      margin: 0 1.875rem;
      padding: 0 1rem;
    }

    .container.Bcorp_frame2 {
      padding-bottom: 5rem !important;
    }

    .Bcorp_frame3-container {
      padding: 5rem 0;
    }

    .Bcorp_frame3-item-heading {
      font-size: 1.575rem;
    }

    .Bcorp_frame3-item-des {
      margin-bottom: 0.25rem;
    }

    .Bcorp_frame4 {
      margin: 0 1.875rem;
    }

    .Bcorp_frame5 {
      margin: 0 1.875rem;
    }

    .Bcorp_frame3 {
      margin: 0 1.875rem;
    }
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #Bcorp {
    // BCorp
    .Bcorp_frame1-container {
      margin: 0 3rem;
    }

    .Bcorp_frame1-heading {
      padding-bottom: 2rem;
      text-align: center;
    }

    .Bcorp_frame2.container {
      margin: 0 30px;
      padding: 8.5rem 0;
    }

    .Bcorp_frame1.container {
      margin: 0 30px;
      padding: 0 1rem;
    }

    .Bcorp_frame3-container {
      padding: 5rem 0;
    }

    .Bcorp_frame3-item-heading {
      margin-bottom: 2.5rem;
    }

    .Bcorp_frame3-item-des {
      margin-bottom: 0.25rem;
    }

    .Bcorp_frame3 {
      grid-template-columns: 1fr;
    }

    .Bcorp_frame3-item-des {
      display: none;
    }

    .Bcorp_frame5-left-des {
      text-align: justify;
    }

    .Bcorp_frame5-right,
    .Bcorp_frame4-right {
      order: 1;
    }

    .Bcorp_frame5 {
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      display: flex !important;
      flex-direction: column;
      gap: 0.625rem;
    }

    .Bcorp_frame2,
    .Bcorp_frame4,
    .Bcorp_frame2 {
      display: flex !important;
      flex-direction: column;
      gap: 0.625rem;
      margin-left: 0.625rem !important;
      margin-right: 0.625rem !important;
    }

    .Bcorp_frame1 {
      padding: unset !important;
      margin-left: 0.625rem !important;
      margin-right: 0.625rem !important;
    }

    .Bcorp_frame1-container {
      padding: unset !important;
      margin-left: 0.625rem !important;
      margin-right: 0.625rem !important;
    }

    .Bcorp_frame1-img img {
      width: 100%;
    }

    .Bcorp_frame2.container {
      padding: unset !important;
    }

    .Bcorp_frame3 {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 3.125rem;
      padding-bottom: 3.25rem !important;
    }

    .Bcorp_frame3-item {
      display: flex;
      align-items: baseline;
      flex-direction: row !important;
      justify-content: space-between;
      box-sizing: border-box;
      height: 21rem;
    }

    .Bcorp_frame3-item-heading {
      display: flex;
      margin-left: 10px;
      width: 100%;
      margin-bottom: unset !important;
      justify-content: center;
    }

    .Bcorp_frame3-item-wrapper {
      width: 100%;
    }
    .background-1,
    .background-2 {
      height: 100%;
      min-height: 15.625rem;
    }
    .Bcorp_frame-content {
      padding: 50px 0;
    }
  }
}
