#nav {
  margin-top: 5rem;
  .nav {
    display: flex;
    justify-content: center;
    background-color: #17171a;
    width: 100%;
    .list_item-submenu {
      display: none;
      position: absolute;
      left: 0;
      top: 5.78rem;
      z-index: 10;
      background-color: #ffffff;
      height: 17.5rem;
      content: "";
    }
    .list_item-submenu-inner {
      padding: 0.5rem 0;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
    }
    .list_item-submenu-item {
      width: 16.25rem;
      text-align: center;
      position: relative;
      padding: 0 0.5rem;
      &:hover img {
        scale: 1.1;
      }
    }
    .list_item-submenu-item-hr {
      height: 100%;
      width: 0.0625rem;
      background: #d5d5d5;
    }
    .list_item-submenu-item-hr2 {
      width: 100%;
      height: 0.0625rem;
      background: #d5d5d5;
      margin: 1rem 0;
    }
    .list_item-submenu-content {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      text-align: center;
      p {
        margin-bottom: unset;
        color: #17171a;
        &:nth-child(1) {
          font-weight: 700;
        }
        &:nth-child(2) {
          font-weight: 400;
        }
      }
    }
    .img_coffee-b,
    .img_machine-b,
    .img_accessories-b,
    .img_service-b,
    .img_recycle-b,
    .img_location-b,
    .img_contact-b,
    .img_professional-b {
      display: none;
    }

    .img_coffee-w,
    .img_machine-w,
    .img_accessories-w,
    .img_service-w,
    .img_recycle-w,
    .img_location-w,
    .img_contact-w,
    .img_professional-w {
      display: block;
    }
  }
  .nav_list {
    padding-left: unset;
    margin-bottom: unset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
  }
  .nav_list-item {
    max-width: 7.1875rem;
    padding: 0.5rem;
    height: 100%;
    list-style: none;
    &:hover {
      background-color: #ffffff;
      transition: 0.5s;
      p {
        color: #000000;
      }
      .img_coffee-b,
      .img_machine-b,
      .img_accessories-b,
      .img_service-b,
      .img_recycle-b,
      .img_location-b,
      .img_contact-b,
      .img_professional-b {
        display: block !important;
        transition: 0.5s;
      }

      .img_coffee-w,
      .img_machine-w,
      .img_accessories-w,
      .img_service-w,
      .img_recycle-w,
      .img_location-w,
      .img_contact-w,
      .img_professional-w {
        display: none !important;
        transition: 0.5s;
      }
    }
  }
  .nav_list-item-link {
    text-decoration: none;
    text-align: center;
    p {
      @extend .font_body-2;
      font-weight: 600;
      margin-bottom: unset;
      text-align: center;
      color: #d5d5d5;
    }
  }
  .nav_list-item-text {
    &:hover {
      color: #000000;
    }
  }
  .nav_list-item-coffee,
  .nav_list-item-machine,
  .nav_list-item-accessories,
  .nav_list-item-service,
  .nav_list-item-contact {
    &:hover {
      #list-sub-coffee,
      #list-sub-machine,
      #list-sub-accessories,
      #list-sub-service,
      #list-sub-contact {
        display: block;
        transition: 0.5s;
      }
    }
  }

  .sub {
    &_list {
      display: none;
      width: calc(100% - 2.9375rem) !important;
      background: white;
      position: absolute;
      top: 0;
      right: 0;
    }
    &_list-item {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      padding: 0.625rem 0.5rem;
      height: 2.5rem;
      border-bottom: 0.0625rem solid #d5d5d5;
    }
    &_list-item-link {
      @extend .font_subtitle-2;
      height: 1.25rem;
      font-weight: 700;
      color: #17171a;
      text-decoration: none;
    }
  }
}

/* destop: width >= 1024px */
@media only screen and (min-width: 64rem) {
}

/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  #nav {
    display: none !important;
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 48rem) {
  #nav {
    display: none !important;
  }
}
